<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Aluno</h1>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" formControlName="nome">

        <app-message [control]="formulario.get('nome')" error="required" text="Informe o nome do aluno"></app-message>
        <app-message [control]="formulario.get('nome')" error="minlength"
          text="Mínimo de {{ formulario.get('nome')?.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Nota</label>
        <input pInputText type="text" name="nota" formControlName="nota">

        <app-message [control]="formulario.get('nota')" error="required" text="Informe a nota do aluno"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Data Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataNascimento"
          formControlName="dataNascimento"></p-calendar>

          <app-message [control]="formulario.get('dataNascimento')" error="required"
          text="Informe uma data de Nascimento"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Matrícula</label>
        <input pInputText type="text" name="matricula" formControlName="matricula">

        <app-message [control]="formulario.get('matricula')" error="required" text="Informe a matrícula"></app-message>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="p-button-info" (click)="novo()"></button>
        <a routerLink="/aluno">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>